*{
    margin: 0px;
    border: border-box;
}
body{
    background-color: #3d087b;
}
.main_container{
    background-color: #3d087b;
    overflow: hidden;
}

.clocklogo{
    margin-top: 20px;
    margin-left: 25px;
    position: relative;
    top: 25px;
    left: 120px;
}
.timecard{
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 600px;
    padding: 10px 10px;
    position: relative;
    bottom: 320px;
    left: 75px;
}
.card{
    color: #3d087b;
    display: flex;
    justify-content: space-between;
}
#wakeup{
    color: #3d087bde;
}
select{
    width: 250px;
    height: 30px;
}
#lunch{
    color: #3d087bde;
}
#nap{
    color: #3d087bde;
}
#night{
    color: #3d087bde;
}
label{
    font-size: 20px;
}
.imgsiz{
    height: 30px;
}
.box1{
    color: #ffffff;
    height: 80px;
    text-transform: uppercase;
    font-family: 'Lilita One', cursive;
    border-radius: 10px;
    background-color: #7348a5de;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 32px;
    width: 600px;
    margin-left: 25px;
    position: absolute;
    bottom: 175px;
    left: 75px;
}
button{
    background-image: linear-gradient(to right, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
    color: #ffffff;
    text-align: center;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
    position: absolute;
    bottom: 100px;
    left: 80px;
}
button:hover{
    background-image: linear-gradient(to right,  #F1A7C5, #FC5EFF, #CB52F8, #6E54EC);
}
.note{
    background-color: #7348a5de;
    color: #F25CFE;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    line-height: 150%;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: 375px;
}

.clockdigi{
    background-color: #ffffff;
    border-radius: 10px;
    height: 180px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
    position: relative;
    bottom: 50px;
    left: 700px;
}
.timetxt{
    color:#3D087B;
    font-size: 20px;
    font-weight: bold;
   
}
.opa1{
    background-color: #ffffff;
    border-radius: 10px;
    height: 80px;
    width: 400px;
    opacity: 0.5;
    position: relative;
    bottom: 100px;
    left: 700px;
}

.opa2{
    background-color: #ffffff;
    border-radius: 10px;
    height: 80px;
    width: 300px;
    opacity: 0.2;
    position: relative;
    bottom: 160px;
    left: 700px;
}
.firstclock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
.hour{
    color: #8A11BF;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}
.hours2{
    color: #5F0089;
    position: absolute;
    top: 60px;
    left: 15px;
    font-size: 20px;
}
.ww{
    position: relative;
}
.wwe{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 30px;
    color: #ffffff;
    padding-left: 10px;
}
.box2{
    background-color: #ffffff;
    height: 80px;
    width: 500px;
    text-transform: uppercase;
    font-family: 'Lilita One', cursive;
    border-radius: 10px;
    color: #8E53F0;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    position: absolute;
    bottom: 300px;
    left: 750px;
    
}
.lastpic{
 position: relative;
 bottom: 350px;
 left: 750px;
}
.picsize{
    width: 500px;
    height: 400px;
}
.go{
    color: #8A11BF;
    font-size: 32px;
}
.stand{
    font-size: 30px;
    position: relative;
    left: 10px;
}
@media screen and (min-width:280px) and (max-width:500px){
    .clocklogo{
      position: static;
    }
    .clockdigi{
        width: 320px;
        justify-content:start;
        position: absolute;
        top: 120px;
        left:5px;
        gap: 25px;
    }
    .opa1{
        width: 220px;
        position: absolute;
        top: 260px;
        left: 60px;
    }
    .opa2{
        width: 180px;
        position: absolute;
        top: 280px;
        left: 80px;
    }
    .hour{
        font-size: 16px;
    }
    .hours2{
        font-size: 16px;
    }
    .timetxt{
        font-size: 18px;
    }
    .ww{
       width: 10px;
    }
    .wwe{
       width: 10px;
       position: absolute;
       font-size: 16px;
    }
    .box2{
        position: absolute;
        top: 365px;
        left: 05px;
        width: 320px;
        height: 100px;
    }
    .timecard{
        position: absolute;
        top: 490px;
        left: 03px;
        height: 270px;
        width: 300px;
    }
    .lastpic{
         position: absolute;
         top: 720px;
         left: 20px;
    }
    .picsize{
        width: 300px;
    }
    .box1{
        position: absolute;
        top: 1020px;
        left: 01px;
        width: 300px;
    }
    button{
        position: absolute;
        top: 1120px;
        left: 05px;
        width: 100px;
    }
    .note{
        position: absolute;
        top: 1125px;
        left: 150px;
        width: 150px;
        height: 200px;
    }

}
@media screen and (min-width:500px) and (max-width:900px){
    .clocklogo{
        position: static;
      }
      .clockdigi{
          width: 500px;
          justify-content:start;
          position: absolute;
          top: 120px;
          left:20px;
          gap: 40px;
      }
      .opa1{
          width: 350px;
          position: absolute;
          top: 260px;
          left: 70px;
      }
      .opa2{
          width: 220px;
          position: absolute;
          top: 280px;
          left: 130px;
      }
      .hour{
          font-size: 22px;
      }
      .hours2{
          font-size: 22px;
      }
      .timetxt{
          font-size: 24px;
      }
      .ww{
         width: 10px;
      }
      .wwe{
         width: 10px;
         position: absolute;
         font-size: 16px;
      }
      .box2{
          position: absolute;
          top: 365px;
          left: 20px;
          width: 500px;
      }
      .timecard{
          position: absolute;
          top: 470px;
          left: 03px;
          height: 270px;
          width: 500px;
      }
      .lastpic{
           position: absolute;
           top: 760px;
           left: 20px;
      }
      .picsize{
          width: 500px;
      }
      .box1{
          position: absolute;
          top: 1150px;
          left: 5px;
          width: 500px;
      }
      button{
          position: absolute;
          top: 1250px;
          left: 05px;
          width: 200px;
      }
      .note{
          position: absolute;
          top: 1260px;
          left: 250px;
          width: 280px;
          height: 110px;
      }
  
}
